[Unit]
Description=CAPEv2 Cuckoo Sandbox Service
After=network.target mongodb.service postgresql.service libvirtd.service virtqemud.service
Wants=cape-rooter.service

[Service]
Type=simple
User={{CAPE_USER}}
Group={{CAPE_USER}}
WorkingDirectory={{CAPE_ROOT}}
Environment=PYTHONPATH={{CAPE_ROOT}}
ExecStart={{PYTHON_PATH}} {{CAPE_ROOT}}/cuckoo.py
Restart=always
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
